.main-page {
    display: flex;

    .employees {
      margin-left: 1rem;

    }
    .short-description-teams {
        width: 82%;
    }

    .short-description-tasks{
        width: 82%;
    }
}
.mobile-version{
    display: block;
    text-align: center;


}


