.delete-task-component {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;

    .taskId {
        border: 1px solid black;
        padding: .3rem;
        outline: none;
        font-size: .9rem;
        border-radius: 5px;
    }
    .delete-task-button {
        margin-top: 1rem;
        width: 70%;
        padding: .5rem;
        background: linear-gradient(to left, white 50%, lightblue 50%) right;
        background-size: 200%;
        transition: .4s;
        border: 1px solid black;
        cursor: pointer;

    }
    .delete-task-button:hover {
        background-position: left;
    }
}