.search-div {
    width: 100%;

    .search-components {
        text-align: center;
        margin-top: 1rem;


        .search-input {
             padding: .5rem;
             font-size: 1.1rem;
             border-radius: .3rem;
             outline: none;

        }
        .search-button {    
            margin-left: .2rem;
            padding: .5rem;
            font-size: 1.1rem;
            border: none;
            background: none;
            cursor: pointer;
        }
        .display-all-data-button {
            position: absolute;
            margin-top: .1rem;
            padding: .6rem;
            left: 1rem;
            border: 1px solid black;
            background: none;
            cursor: pointer;
            transition: .4s;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        .display-all-data-button:hover {
            background-color: white;
            
        }
    }
 
    .data-table {
        border-collapse: separate;
        width: 100%;
        position: absolute;
        top: 30%;
        left: 6%;
        border: 1px solid black;
        width: 90%;
        
        
        .table-name {
            font-size: 1.3rem;
            border-bottom: 1px solid black;
        }

        .fetched-data {
            text-align: center;
            
            .table-data {
                font-size: 1.1rem;
                padding: .5rem;
            }
        }
    }
}



